{% extends "layout.html" %}
{% block content %}
<div id="content">
    <div class="article">
        <form action="" method=post>
            <div class="article-title">
                <label for="title">Title:<input type="text" name="title" id="title" size="79">
            </div>
            <div class="article-meta">
                <div class="article-meta-tag">
                    <label for="tag">Tag:</label><input type="text" name="tag" id="tag" size="40"/>
                </div>
                <div class="article-meta-slug">
                    <label for="slug">Slug:</label><input type="text" name="slug" id="slug" size="40"/>
                </div>
                <div class="article-meta-format">
                    <span>Content Format:</span>
                    <label for="raw">Raw</label><input type="radio" name="format" value="raw" id="raw" {% if c.format=='R' %} checked='check' {% endif %}/>
                    <label for="rst">reStructuredText</label><input type="radio" name="format" value="rst" id="rst"{% if c.format=='S' %} checked='check' {% endif %}/>
                    <label for="md">Markdown</label><input type="radio" name="format" value="md" value="md" id="md"{% if c.format=='M' %} checked='check' {% endif %}/>
                </div>
                <div class="article-meta-format">
                    <span>Article Status:</span>
                    <label for="publish">Publish</label><input type="radio" name="status" value="publish" id="publish" {% if c.status=='P' %} checked='check' {% endif %}/>
                    <label for="draft">Draft</label><input type="radio" name="status" value="draft" id="draft"{% if c.status=='D' %} checked='check' {% endif %}/>
                    <label for="hide">Hide</label><input type="radio" name="status" value="hide" id="hide"{% if c.status=='H' %} checked='check' {% endif %}/>
                </div>
            </div>
            <div class="article-content">
                <textarea style="width:100%;height:500px;" name="content"></textarea>
                    <button type="button">Preview</button>
                    <input type="submit" style="width:60px;" value="Save">
            </div>
        </form>
    </div>
{% endblock %}
