{% extends "layout.html" %}
{% block content %}
<div id="content">
    {% for article in c %}
    <div class="article">
        <div class="article-title">
            <a class="article-title-link" href="#">{{ article.title }}</a>
        </div>
        <div class="article-meta">
            <span class="article-meta-date">
                日期：<a href="#" class="article-meta-date-link">{{ article.publish_date }}</a>
            </span>
            <div class="article-meta-tags">
                标签:
                {% for tag in article.tag %}
                <span class="article-meta-tag"><a href="{{tag.id_tag}}" class="article-meta-tag-link">{{tag.name}}</a></span>
                {% endfor %}
            </div>
        </div>
        <div class="article-content">
            {{ article.content_html|safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
