<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}"/>
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}"/>
</head>
<body>
    <div id="wrap" class="container">
        <div id="header">
            <div id="header-logo">
                个人博客
            </div> 
            <div id="header-navigation">
                <ul id="header-menu">
                    <li id="header-menu-item">
                            <a href="">日记</a>
                    </li>
                    <li id="header-menu-item">
                            <a href="">TODO</a>
                    </li>
                    <li id="header-menu-item">
                            <a href="">需求</a>
                    </li>
                    <li id="header-menu-item">
                            <a href="">完成</a>
                    </li>
                    <li id="header-menu-item">
                            <a href="">ABOUT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="wrapper">
            <div id="content">
                <div class="article">
                    <div class="article-title">
                        <a class=article-title-link" href="#">新年第一篇</a>
                    </div>
                    <div class="article-meta">
                        <span id="article-meta-category">
                            分类：<a href="#" class="article-meta-category-link">日记</a>
                        </span>
                        <span class="article-meta-date">
                            日期：<a href="#" class="article-meta-date-link">2012-01-02</a>
                        </span>
                        <div class="article-meta-tags">
                            标签:
                            <span class="article-meta-tag"><a href="#" class="article-meta-tag-link">新年</a></span>
                            <span class="article-meta-tag"><a href="#" class="article-meta-tag-link">心情</a></span>
                        </div>

                    </div>

                    <div class="article-content">
                        {% for tag in tags %}
                        id:{{ tag.id_tag}}; slug:{{tag.slug}}; name:{{tag.name}}
                        {% endfor %}
                        <!--
                        <p>盼啊盼啊的，终于2012年了。</p>
                        <p>2011再一次结束，我前面还在纠结呢，要不要写一个2011年终总结。但貌似一不小心就2012年了，哈哈。</p>
                        <p>1号这一天是在睡梦中度过的，直到下午6点才起床。</p>
                        -->
                    </div>
                    
                </div>

                <div class="article">
                    <div class="article-title">
                        <a class=article-title-link" href="#">新年第一篇</a>
                    </div>
                    <div class="article-meta">
                        <span id="article-meta-category">
                            分类：<a href="#" class="article-meta-category-link">日记</a>
                        </span>
                        <span class="article-meta-date">
                            日期：<a href="#" class="article-meta-date-link">2012-01-02</a>
                        </span>
                        <div class="article-meta-tags">
                            标签:
                            <span class="article-meta-tag"><a href="#" class="article-meta-tag-link">新年</a></span>
                            <span class="article-meta-tag"><a href="#" class="article-meta-tag-link">心情</a></span>
                        </div>

                    </div>

                    <div class="article-content">
                        <p>盼啊盼啊的，终于2012年了。</p>
                        <p>2011再一次结束，我前面还在纠结呢，要不要写一个2011年终总结。但貌似一不小心就2012年了，哈哈。</p>
                        <p>1号这一天是在睡梦中度过的，直到下午6点才起床。</p>
                    </div>
                    
                </div>

            </div>
        </div>
        <div id="sidebar">
            <div class="sidebar-box">
                <form method="get" id="searchbar" action="#">
                    <input type="text" size="16" name="s" value="Search" id="search"/>
                    <input type="submit" id="searchsubmit" value="" />
                </form>
            </div>
            <!--
            <div class="sidebar-box">
                <div class="sidebar-box-title">分类条目</div>
                <ul>
                    <li>
                        <a href="#" title="查看我喜欢的段子">我喜欢的段子</a>
                    </li>
                    <li>
                        <a href="#" title="查看我喜欢的段子">我喜欢的音乐</a>
                    </li>
                </ul>
            </div>
            -->
            <div class="sidebar-box">
                <div class="sidebar-box-title">标签</div>
                    <a href='#' class='tag-link-27' title='1 个话题' style='font-size: 8pt;'>人体</a>
                    <a href='#' class='tag-link-28' title='1 个话题' style='font-size: 8pt;'>他</a>
                    <a href='#' class='tag-link-29' title='1 个话题' style='font-size: 8pt;'>优化</a>
                    <a href='#' class='tag-link-31' title='1 个话题' style='font-size: 8pt;'>作文</a>
                    <a href='#' class='tag-link-146' title='3 个话题' style='font-size: 12.5161290323pt;'>蔷薇花开的夏天</a>
            </div>
            <div class="sidebar-box">
                <div class="sidebar-box-title">链接</div>
                <ul class='xoxo blogroll'>
                    <li><a href="http://blueandhack.com" target="_blank">blueandhack</a></li>
                    <li><a href="http://climber01.com" target="_blank">Climber01&#039;s blog</a></li>
                    <li><a href="http://www.zhuzhuzhu.com.cn" target="_blank">江山多娇</a></li>
                    <li><a href="http://www.izhuiyi.com">爱追忆</a></li>

                </ul>
            </div>
        </div> 
        <!--
        <div id="footer">
            <p>footer infomation,</p>
            <p>footer infomation,</p>
            <p>footer infomation,</p>
        </div>
        -->
    </div>
	
</body>
</html>
