{% extends "layout.html" %}
{% block content %}
<div id="content">
    <div class="post">
        <div class="post-title">
            <a class="post-title-link" href="{{ url_for('show_post', post_slug=post.slug)}}">{{ post.title }}</a>
        </div>
        <div class="post-meta">
            <span class="post-meta-date">
                日期：<a href="#" class="post-meta-date-link">{{ post.publish_date }}</a>
            </span>
            <div class="post-meta-tags">
                标签:
                {% for tag in post.tag %}
                <span class="post-meta-tag"><a href="{{url_for('tag_ref_post', tag_slug=tag.slug)}}" class="post-meta-tag-link">{{tag.name}}</a></span>
                {% endfor %}
            </div>
            {% if can_edit %}
            <div>
                <a href="{{ url_for('edit_post', post_slug=post.slug)}}">编辑文章</a>
            </div>
            {% endif %}
        </div>
        <div class="post-content">
            {{ post.content_html|safe }}
        </div>
    </div>
</div>
{% endblock %}
{% block tags %}
{{super()}}
{% endblock %}
