{% extends "layout.html" %}
{% block content %}
<div id="content">
    <div class="post">
        <div class="post-title">
            <a class="post-title-link" href="{{ url_for('show_post', post_slug=post.slug)}}">{{ post.title }}</a>
        </div>
        <div class="post-meta">
            <span class="post-meta-date">
                日期：<a href="#" class="post-meta-date-link">{{ post.publish_date }}</a>
            </span>
            <div class="post-meta-tags">
                标签:
                {% for tag in post.tag %}
                <span class="post-meta-tag"><a href="{{url_for('tag_ref_post', tag_slug=tag.slug)}}" class="post-meta-tag-link">{{tag.name}}</a></span>
                {% endfor %}
            </div>
        </div>
        <div class="post-content">
            {{ post.content_html|safe }}
        </div>
    </div>
</div>
{% endblock %}
{% block tags %}
            <div class="sidebar-box">
                <div class="sidebar-box-title">标签</div>
                {% for tag in all_tags %}
                <a href='{{ url_for('tag_ref_post', tag_slug=tag.slug) }}' class='tag-link-27' title='{{tag.count}}个话题' style='font-size:{{tag.size}}pt;'>{{tag.name}}</a>
                {% endfor %}
            </div>
{% endblock %}
